<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vigenere Cipher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <table class="table">
            <tr><td style="text-align: center; font-size: 25px; font-weight: bold;">VIGENERE CIPHER</td></tr>
            <tr><td style="font-weight: bold; color: blue">ENCRYPTION</td></tr>
            <tr>
                <td>
                    <form method="POST" action="/vigenere/encrypt">
                        <div class="mb-3">
                            <label class="form-label">Plain text:</label>
                            <input type="text" class="form-control" name="inputPlainText" placeholder="Input Plain Text" required autofocus/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Key:</label>
                            <input type="text" class="form-control" name="inputKeyPlain" placeholder="Input Key" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Encrypt</button>
                    </form>
                </td>
            </tr>
            <tr><td style="font-weight: bold; color: blue">DECRYPTION</td></tr>
            <tr>
                <td>
                    <form method="POST" action="/vigenere/decrypt">
                        <div class="mb-3">
                            <label class="form-label">Cipher text:</label>
                            <input type="text" class="form-control" name="inputCipherText" placeholder="Input Cipher Text" required/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Key:</label>
                            <input type="text" class="form-control" name="inputKeyCipher" placeholder="Input Key" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Decrypt</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>