<!DOCTYPE html>
<html lang="en">
<head>
    <title>Caesar Cipher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Caesar Cipher</h2>
        <form action="/encrypt" method="post">
            <div class="form-group">
                <label for="plain_text">Plain Text:</label>
                <input type="text" class="form-control" id="plain_text" name="plain_text">
            </div>
            <div class="form-group">
                <label for="shift">Key:</label>
                <input type="number" class="form-control" id="shift" name="shift">
            </div>
            <button type="submit" class="btn btn-primary">Encrypt</button>
        </form>
        <form action="/decrypt" method="post" style="margin-top: 20px;">
            <div class="form-group">
                <label for="cipher_text">Cipher Text:</label>
                <input type="text" class="form-control" id="cipher_text" name="cipher_text">
            </div>
            <div class="form-group">
                <label for="shift">Key:</label>
                <input type="number" class="form-control" id="shift" name="shift">
            </div>
            <button type="submit" class="btn btn-primary">Decrypt</button>
        </form>
    </div>
</body>
</html>